h1{
	color: #FF0000
	border-color: purple;
	border-width: 5px;
	border-style: solid;

}
button{
	color: #FFFFFF
}
div{
	
	background : #FFBBFF
}

body{
/*     background : url(https://engineering.stanford.edu/sites/default/files/styles/full_width_banner_tall/public/chalkboard_web.jpg?itok=XbT9euOn);
     background-size: cover	*/
}
